[Desktop Entry]
Name=Sylpheed
Comment=GTK+ based e-mail client
Comment[pl]=Oparty na GTK+ klient poczty elektronicznej
Exec=/usr/X11R6/bin/sylpheed
Icon=sylpheed.xpm
Terminal=0
Type=Application

# vi: encoding=utf-8
